@font-face {
    font-family: "Inter-Regular";
    src: url("/assests/font/Inter-Regular.woff2");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("/assests/font/Inter-Bold.woff2");
}

@font-face {
    font-family: "Inter-Light";
    src: url("/assests/font/inter_Inter-Light.woff");
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("/assests/font/inter_Inter-ExtraBold.woff");
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("/assests/font/Inter-SemiBold.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero svg {
    position: absolute;
    top: 1.75rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    fill: currentColor;
    stroke: none;
    stroke-width: 0;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.menu {
    background-color: #de0015;
    border-radius: 25px;
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Inter-ExtraBold', sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
    color: white;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: capitalize;
    padding: 15px 20px;
}

.menu span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  
   
}

.fa-solid--grip-lines-vertical {
    width: 50px;
    height: 50px;
   background-color: black;
  
}